<header class="componentes-header">
    <nav class="componentes-nav">
        <a href="/" class="componentes-logo">
            <div class="componentes-logo-icon"></div>
            <span>Componentes Gratis</span>
        </a>
        <ul>
            <li><a href="/">Inicio</a></li>
            
        </ul>
        <div class="componentes-auth-buttons">
            
            <div class="componentes-toggle-container">
                <input type="checkbox" id="componentes-toggle-theme" class="componentes-toggle-theme">
                <label for="componentes-toggle-theme" class="componentes-toggle-label">
                    <span class="componentes-toggle-ball"></span>
                </label>
            </div>
        </div>
    </nav>
</header>